.flex {
  display: flex;
  gap: 1rem;
}

.center {
  align-items: center;
}

.header {
  justify-content: space-between;
  padding-block: 1.05rem 1.38rem;
  padding-inline: 1.5rem;
  max-width: 1110px;
  margin-inline: auto;
}

.header button {
  border: none;
  cursor: pointer;
}

.menu-btn,
.close-btn {
  background-color: transparent;
}

.nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  flex-direction: column;
  align-items: start;
  gap: 1.53rem;
  padding-block: 1.5rem;
  padding-inline: 1.55rem 8.4rem;
  background-color: var(--white);
}

.close-btn {
  margin-bottom: 1.6rem;
}

.nav a {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--v-d-blue);
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: hsl(0 0% 0% / 75%);
}

.header-right {
  gap: 1.4rem;
  align-items: baseline;
}

.pic {
  width: 24px;
  height: 24px;
  border: 2px solid transparent;
  border-radius: 50%;
}

.pic:hover {
  border: 2px solid var(--orange);
}

.hidden {
  display: none;
}

@media (min-width: 500px) {
  .header {
    padding-block: 1.85rem 2.1rem;
  }

  .header-right {
    align-items: center;
  }

  .pic {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 800px) {
  .header {
    position: relative;
  }

  .header::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: var(--g-blue);
  }

  .menu-btn,
  .close-btn {
    display: none;
  }

  .nav {
    display: flex;
    flex-direction: row;
    position: initial;
    padding: 0;
    gap: 1rem;
    z-index: 0;
  }

  .nav a {
    font-size: 0.95rem;
    font-weight: 400;
    color: var(--d-g-blue);
  }

  .nav li {
    position: relative;
  }

  .nav li:hover:after {
    content: '';
    position: absolute;
    bottom: -3rem;
    left: 0;
    right: 0;
    height: 5px;
    background-color: var(--orange);
  }

  .header-right {
    gap: 2.9rem;
  }
}

@media (min-width: 1000px) {
  .header {
    padding-block: 1.7rem 1.9rem;
    padding-inline: 0;
  }

  .nav {
    gap: 2.02rem;
  }

  .header-left {
    gap: 3.5rem;
  }
}
