:root {
  --white: hsl(0, 0%, 100%);
  --orange: hsl(26, 100%, 55%);
  --p-orange: hsl(25, 100%, 94%);
  --v-d-blue: hsl(220, 13%, 13%);
  --d-g-blue: hsl(219, 9%, 45%);
  --g-blue: hsl(220, 14%, 75%);
  --l-g-blue: hsl(223, 64%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  height: auto;
}
